body{
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(#52040B, #75060F, #960814, #C90A1B, #FF0D22);*/
}

.Texto{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.Modo_de_Usar{
    align-items: center;
    justify-content: center;
    position: relative;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Participantes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


#Alexandre{
    size: 10px;
}



/*h1.Texto{
    
    /*background: #C90A1B;*/
/*}


